{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "plugins": ["prettier"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 8,
    "requireConfigFile": false,
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "rules": {
    "prettier/prettier": ["error"],
    "guard-for-in": "off",
    "no-extend-native": "off",
    "no-inner-declarations": "warn",
    "no-invalid-this": "warn",
    "react/display-name": "off",
    "max-len": [
      "warn",
      {
        "code": 120,
        "comments": 120,
        "ignoreComments": false,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "tabWidth": 2
      }
    ]
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "require": true,
    "exports": true
  }
}
