{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "rules": {
    "prettier/prettier": ["error"],
    "guard-for-in": "off",
    "no-extend-native": "off",
    "no-inner-declarations": "warn",
    "no-invalid-this": "warn"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "require": true,
    "exports": true
  }
}
